
@import './reset/reset.scss';
// @import "../node_modules/pelvris-ui/sass/style.scss";

@import './reset/mixins.scss'; // all mixins

@import "./color/all_color.scss";  //All ScoreMobi colors

@import './mediaQuery/all_media_query';   // Media for all Size

@import "./header/navber.scss";    // Navbar 

@import './showacase/showcase';   // Homepage Showase image

@import './homepage/homepage'; // Homepage homepage

@import './footer/footer';// footer

@import './league/league';  //league page style

@import './news/news'; // news page style

@import './newsDetails/news_details'; // news details page style

@import './todayMarch/main.scss'; // today's March page style

@import './anima/anima.scss'
