	//----------------------------------------top header logo styling  ---------------------------------------	
	.scoreMobi_header {
		background-color: $header_light;
		@include flex(space-between);
		padding: 10px;
		font-family: inherit;
		width: 100%;

		@include desktopSize(900px) {
			padding: 10px 35px;

		}

		h2 {

			@include fontWight(600px, 20px);
			color: $white_color;

			@include desktopSize(900px) {
				font-size: 30px;
			}
		}

		.scoreMobi_logo {
			color: $white_color;
		}

		.header_social_icon {
			display: none;

			@include desktopSize(900px) {
				display: flex;
				padding-right: 20px;
			}
		}

		.header_sign {
			display: flex;
		}

		.login {
			@include flex(space-evenly);
			color: $white_color;
			font-size: 18px;

			span {
				padding-left: 5px;
			}
		}
	}


	//---------------------------------------Header  Style---------------------------------------	
	.scoreMobi_header_color {
		background-color: $header_dark;
		width: 100%;
		height: 100%;

		.scoreMobi_header_content {
			width: 100%;
			padding: 0px;

			@include desktopSize(900px) {
				padding: 0px 35px;
			}
		}

		.scoreMobi_logo_menu_section {
			padding: 10px;
			align-items: center;
			align-content: center;


			@include desktopSize(900px) {
				padding: 0px;
			}
		}

		//---------------------------------------- Header Nav ---------------------------------------
		#nav {
			padding: 0 10px;

			@include desktopSize(900px) {
				padding: 0;
			}

			//---------------------------------------- Header Nav ul ---------------------------------------
			.nav_ul {
				// position: relative;

				@include desktopSize(900px) {
					display: flex;
					gap: 60px;
				}

				.nav_ul_li {
					padding-bottom: 30px;
					// line-height: 3;
					@include tabletSize(900px) {
						padding-bottom: 0px;
					}
				}

				//----------------------------------------Header Nav li ---------------------------------------	
				.nav_ul_li a ,.dropdown_indicator{
					position: relative;
					line-height: unset;
					color: $white_color;
					@include fontWight(normal, 1.1em);
					cursor: pointer;
					display: inline-block;

					// ------------------------------- border hover effect in Header Nav link------------------------	
					&::after {
						content: '';
						border-bottom: 2px solid $white_color;
						position: absolute;
						width: 100%;
						left: 0;
						bottom: -5px;
						display: inline-block;
						transform: scale(0);
						transform-origin: right;
						transition: transform 1s ease-in-out;


					}

					&:hover::after {
						transform: scale(1);
						transform-origin: left;
						transition: transform 0.6s ease-in-out;
					}

					&.active_link {
						&::after {
							transform: scale(1);
						}
					}

					&:hover {
						color: $white_color;
					}

					@include desktopSize(900px) {
						padding-bottom: 0;
					}

					.fa-home {
						font-size: 1.1em;
						color: $white_color;
					}

				}

			
				//---------------------------------------- Dropdown continer ----------------------------------------
				.dropdown_link {
					padding-bottom: 0px;
					
					.dropdown_wdith {
						width: 95%;
						margin: 0 auto;
					}
					//---------------------------------------- Dropdown indicator  ----------------------------------------
					.dropdown_indicator {
						color: $white_color;
						font-size: 1.1em;
						cursor: pointer;
						margin-bottom:10px;
						@include tabletSize(900px) {
							margin-bottom:0px;

							&::after {
								bottom: 15px;
							}
						}

						i {
							@include tabletSize(900px) {
								line-height: 4;
							}
							
						}

					}
				}

				//---------------------------------------- Dropdown Wrapper ----------------------------------------
				.dropdown_wrapper {
					background-color: $white_color;

					.dropdown_nav_wrapper {
						display: flex;
						gap: 50px;
						padding: 10px 0;

						a {
							color: $black_color;
						}
					}

					//---------------------------------------- Dropdown Content -Wrapper---------------------------------------
					.dropdown_content_Wrapper {
						position: unset;
						border-radius: 0;
						box-shadow: unset;
						padding-top: 5px;

						.dropdown_item_Wrapper {
							@include grid_Auto_fit(230px);
							padding: 10px 0;

							&:first-child {
								border-top: 1px solid $border_color;
							}

							.nav_dropdown_item_wrapper {
								@include flex(none);
								gap: 10px;


								a {
									@include fontWight(normal, inherit);
									padding: 0;
									display: block;

									&:hover {
										all: unset;
									}
								}

								img {
									width: 30px;
									height: 30px;
									border-radius: 50%;
								}

							}

						}
					}
				}

			}


		}

		//----------------------------------------Header Input  ----------------------------------------
		#header_right_wrapper {
			display: flex;
			flex-direction: row;
			gap: 10px;
			position: relative;
			z-index: 1;
			// padding: 0px 10px;
		}

		.input_wrap {
			border: none;
			background-color: $header_light;

			.form_input:focus {
				box-shadow: 0px 0px 1px 1.5px $white_color;
			}

			@include desktopSize(900px) {
				margin: 10px 20px;
			}

			i.fa-search {
				color: $white_color;
			}

			span i:hover {
				color: $white_color;
			}

			.header_input {
				background-color: $header_light;
				color: $white_color;
				width: 100% !important;

				&::placeholder {
					color: $white_color;
				}

				&:focus {
					box-shadow: 0px 0px 1px 1.5pxwhite;
				}
			}
		}

		.header_select {
			@include flex(center);
			padding: 5px;
			background-color: $header_light;
		}
	}

	//*********************** Nav header  styling Ended here.. ***********************
	//*********************** Nav header  styling Ended here.. ***********************