#ScoremMobi_main_section_news_wrapper {
	.header_caption {
		@include fontWight(600, 20px);
		margin: 15px 0;
	}

	.main_news_wrapper {
		@include grid_Auto_fit(300px);
		grid-gap: 20px;
		background-color: $white_color;


		.ScoreMobi_card {
			.ScoreMobi_card_padding {
				padding: 10px 0px 5px;
			}

			img {
				width: 100%;
				height: 270px;
				object-fit: cover;
			}

			.news_title {
				font-weight: 500;
				font-size: 20px;
				padding-bottom: 20px;
				color: $black_color;

				@include tabletSize(700px) {
					font-size: 17px;
				}
			}

			figcaption {
				color: $black_color;

			}
		}
	}

}

.sm_title{
    cursor: pointer;
}

.comment_section_wapper{
    margin-top: 40px;

    .comment_section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 30px;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid $border_color;

        @include tabletSize(420px) {
            flex-direction: row;
        }

    }

    .comment_details_container{

        // width: 90%;

        .comment_details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            margin: 8px 0px 10px 0px;
            border-bottom: 1px solid $border_color;

            .comment_date{
                width: 55%;
                max-width: 150px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            
                .cm_time{
                    font-size: 12px;
                }
            }
                @include desktopSize(1100px) {}
            

            .comment_name{
                color:$black_color;
            }
        }

    }

    .more_btn{
        border: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        background-color: transparent;
        margin-top: 20px;
        color: $text_color_2;
    }
    
    .comment_form{
        max-width: 550px;
        margin-top: 25px;

        .input_wrap{
            margin-top: 10px;
            border-color: $border_color;
       
            input:focus{
                box-shadow: 0px 0px 1px 1.5px $border_color;
            }
        }


        textarea{
            margin-top: 20px;
            border-color: $border_color;

            &:focus{
                box-shadow: 0px 0px 1px 1.5px $border_color;
            }
        }

        .sm_input{
            color: $white_color;
            margin-top: 15px;
            border-radius: 0px ;
            background-color: $btn_light;
        
            &:hover{
                background-color: $btn_hover;
            }
        }
    }
}

.ScoreMobi_card{
    figure{
        img{
            width: 100%;
        }
    }
}