.carousel_wrapper {
	background-color: unset !important;
	width: 100% !important;
	height: 300px !important;
	padding-bottom: 45px;

	.carousel_track_container_wrapper {
		margin: 0 !important;
		height: 100% !important;
		overflow-x: hidden !important;

		img {
			display: block;
			min-width: 100%;
		}
	}

	// // ScoreMobi Slide Buton
	.flex_slide_button_and_ind{
		display:flex;
		justify-content: space-between;
		margin: 7px 0;
	}
	.slide_buttons {

		width: unset;
		bottom:unset!important;
		position: unset;;
		justify-content: unset!important; 
		margin: 0px 0;
		width: 100% !important;
		bottom: unset !important;
		justify-content: space-between !important;
		margin: 7px 0;

		button {
			border: 2px solid #000000 !important;
			color: #000000 !important;
			height: 30px;
			width: 30px;
			padding: 17px;
		}
	}

	// ScoreMobi Slide indication OR Dot
	.carousel_nav_wrapper {
		position: unset !important;
		padding: 5px 0;
		display:unset;


		.carousel_ind {
			border-radius: 50%;
			border: 2px solid #000000 !important;
			box-sizing: border-box;
		}

		.current_slide {
			background: $text_color_2 !important;
			border: none !important;
		}
	}
}

// ScoreMobi today  pridiction table and live Wrapepr 
.todays_pricdiction_wrapper {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-items: center;
	border-bottom: 0.6px solid #D2D2D2;

	// ScoreMbi Homepage Today's prediction Button here close to Slider
	.todays_pricdiction_btn {
		background-color: $text_color_2;
		color: white;
		border-bottom-left-radius: unset !important;
		border-bottom-right-radius: unset !important;
		padding: 5px;
		font-size: inherit;

		@include tabletSize(500px) {
			padding: 7px 14px;
			font-size: 1.1em;
		}

		&:hover {
			background-color: $text_color_2;
		}
	}

	//ScoreMbi Homepage  Live Mode wrapper here 
	.lives_mode_wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		// ScoreMobi Live Update number here
		.live_match_update {
			padding: 0 5px;
			justify-self: center;
			font-size: 17px;
			color: $text_color_2;
			font-weight: 500;

			@include tabletSize(500px) {
				padding: 0 20px;
				font-size: 20px;
				padding: 0 10px;
			}
		}

		//ScoreMbi Homepage  Live Mode  
		.lives_mode {
			width: 90px;
			border-radius: 14px;
			cursor: pointer;
			box-sizing: border-box;
			padding: 1px 2px;
			border: 0.7px solid #C3C3C3;

			@include tabletSize(500px) {
				width: 100px;
			}

		}

		//ScoreMbi Homepage  Live Mode green background   here 
		.Lives_match_toggle {
			background-color: $live;
			padding: 2px 0;
			color: white;
			border-radius: 25px;
			text-align: center;
			font-size: 17px;
			width: 70%;

			@include tabletSize(500px) {
				width: 70%;
			}

		}
	}
}

// ScoreMbi Homepage today's prediction 
.today_pridiction_seletction {
	display: flex;

	justify-content: space-between;
	border-bottom: 0.6px solid #D2D2D2;
	align-items: center;
	padding: 3px;

	padding: 10px 0;
	margin-bottom: 5px;
	justify-content: space-between;
	border-bottom: 0.6px solid $border_color;

	#match_select {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		font-family: inherit;
		background-color: unset;

		/* navbar color-1 */

		color: #6F8B0A;
		border: none;
		outline: none;
	}
	
	.left_btn_matches{
		display: flex;
		justify-content: center;
		align-items: center;
		transform: rotate(90deg);
		background: #E5E5E5;
		border-radius: 50%;
		padding:0px 5px;
		
		i{
			font-size: 30px;
			transform: translateY(-5px);

		}
	}
	.right_btn_matches {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: rotate(90deg);
		background: #E5E5E5;
		border-radius: 50%;
		padding:0px 5px;
		
		i{
			font-size: 30px;
			transform: translateY(7px);

		}
	}
}

// ScoreMbi Homepage  Left and  Right Icon construct here close to Mathes table it Ended here

// ScoreMobi Homepage Matchs table Styling here started
table#SocreMobi_match_table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;


	// ScoreMobi Homepage Matchs  Table content Styling here
	tbody::before {
		height: 10px;
		display: table-row;
		content: "";
	}

	thead {
		background: #E9E9E9;
	}

	thead tr th {
		text-align: center;
	}

	thead tr th .table_header {
		// font-weight: 500;
		font-size: 18px;
		color: #000000;
	}

	th,
	td {
		padding: 5px 3px;

		@include tabletSize(500px) {
			padding: 5px;
		}
	}

	p,
	.clubs_name {
		font-weight: normal;
		font-size: inherit;
		color: #000000;
		cursor: pointer;
	}

	.ScoreMobi_matches {
		background: #ffffff;
		border: 0.6px solid #898686;
		background: $white;
		border: 0.6px solid $border_color;
		box-sizing: border-box;

		// ScoreMobi Homepage Matchs Clubs Wrapper
		// 
		.football_clubs_wrapper {
			display: flex;
			justify-content: center;
			align-items: center;


			.vs {
				margin: 10px;

				@include tabletSize(500px) {
					margin: 0px;
				}
			}

			.clubs {
				display: flex;
				flex-direction: column;


				@include tabletSize(500px) {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
				}

				// ScoreMobi Homepage Match Clubs NAme
				.clubs_name {
					text-align: end;
					width: 70px;
					order: 1;
					// font-size: 13px;

					@include tabletSize(500px) {
						order: unset;
						width: 90px;
					}
				}

				.clubs_name:last-child {
					text-align: start;
				}
			}

			// ScoreMobi Homepage Match Clubs images
			.clubs_img {
				display: flex;
				justify-content: flex-end;

				img {
					width: 25px;
					height: 25px;

					@include tabletSize(500px) {
						width: 27px;
						height: 27px;
						margin: 0 25px;
					}
				}
			}

			.first_clubs {
				justify-content: flex-start;
			}

		}
	}
}

// ScoreMobi Homepage Matchs table Styling here Ended


// ========================================================================================================================
// ScoreMobi Homepage Main section Card news here,Pleae take note the full styling for news card is not in this file check Aside Left file 
// ========================================================================================================================

#ScoremMobi_main_section_news_wrapper {


	.main_news_wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		grid-gap: 20px;
		margin-top: 10px;
		background-color: #ffff;


		.ScoreMobi_card {
			.ScoreMobi_card_padding {
				padding: 10px 0px 5px;
			}

			img {
				width: 100%;
				height: 270px;
				object-fit: cover;
			}

			.news_title {
				font-weight: 500;
				font-size: 20px;
				padding-bottom: 20px;
				color: #000000;
			}

			figcaption {
				color: black;

			}
		}
	}

}