.table {
    max-width: 100%;
}

.pl_table {
    width: 100%;
    border: 1px solid $border_color;
}

.score_wrapper {

    .scores {
        display: flex;
        width: 50px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .points {
            padding: 12px 0 12px 0;
        }
    }
}

.section_caption{
    width: 100%;
    padding-bottom: 8px;
    text-align: left;
    font-weight: bold;
    color: $text_color_2;
    margin-top: 30px;
}

.win {
    border: 1px solid $border_color;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
}

tr.table_roll {

    th.table_head {
        border: 1px solid $border_color;
        border-bottom: none;
        font-size: 17px;
    }
}

table.prediction {
    width: 100%;
    border-collapse: collapse;

    td {
        border: 1px solid $border_color;
        text-align: center;
        padding: 15px;
    }
}

table.shedule {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    td {
        border: 1px solid $border_color;

        @include tabletSize(320px) {
            max-width: 200px;
        }

        h4 {
            padding: 3px 0 3px 10px;
        }

        p {
            padding: 3px 0 3px 10px;
            font-size: 13px;
        }
    }
}

table.info_section{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    td {
        border: 1px solid $border_color;
        padding: 15px;

        @include tabletSize(320px) {
            max-width: 200px;
        }

    }

    .active_info{
        border-bottom: 4px solid $text_color_2;
    }
}

table.table_container{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;

    th{
        border: 1px solid $border_color;
        background: $table_head;
        padding: 10px;
    }

    td{
        background-color: $table_head;
        border: 1px solid $border_color;

        .coach_line_up{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 9px;
            background:linear-gradient(0deg, #FFFAFA, #FFFAFA), linear-gradient(0deg, #FFFAFA, #FFFAFA), #FFFFFF;

            .coach_img{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 20%;

                img{
                    width:70%;
                    // padding: 10px;
                }
            }
        }
    }

}

.pl_team {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .team_name {
        width: 100%;
    }

    img {
        width: 100%;
        padding-bottom: 8px;
        object-fit: contain;

        @include tabletSize(800px) {
            width: 80%;
        }

        @include tabletSize(1000px) {
            width: 70%;
        }
    }
}

.td_premier {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 30px;
}

table.table_formation{
    margin-top: 20px;
    width: 100%;

    tbody{
        margin: 0 auto;
        text-align: center;
        // background: greenyellow;

        td{
            padding: 10px;
            font-size: 15px;
            font-weight: 600;
            // background-color: red;

            .active_info{
                border-bottom: 4px solid $text_color_2;
            }
        }

        
    }
    
    thead{
        display: flex;

        tr{
            width: 100%;
            padding: 10px;
            font-size: 15px;
            font-weight: 600;
            background: $table_head;

            td{
                text-align: center;
            }  
        }  
    }
}