
//nuetral colors
$white_color:#Ffffff;
$black_color: #000000;
$top_player_color:#c1e3fa;

// News card text color
$news_card_time_color:#666666;
$player_club_name:#9ea09d;
// design colors
$header_light: #7FA302;
$header_dark : #6F8B0A;


// text color
$text_color: #252525;

// border color
$border_color: #b4b4b4;
$dark-border:#898686;
$border_radius:#e0e0e09f;

// link colors
$link_color: #888888;

$text_color_1:#6f8b0a;
$text_color_2: #7fa302;
$green_light:#96af3da2;

$live: #3ab500;
$border_color_1:#b4b4b4;
$border_color_2:#b4b4b4;
$live_mode_border:#C3C3C3;
$today_prediction_border:#D2D2D2;
$sort_btn_color:#E5E5E5;
$table_header_bg:#E9E9E9;
$table_td_border:#898686;

$form_btn_color :#474747;
$form_btn_hover : #626262;
$green : #27AE60;
$mute: #959595;

// Form
$form_bg_color: #ddd;
$facebook_hover:#2652b1ec;
$facebook:#3b5998;

$google_text_color:rgb(122, 122, 122);
$goolge:#e0e0e0;
$google_hover:#e0e0e091;

$premier_league_border:#b1b2b6;
$premier_league_title:#C8C8C8;
$premier_league_odd:#C4C4C4;
$footer_text_color:#dfdfdf;
$red:red;
$green:green;



//button colors

$btn_dark: #7FA302;
$btn_light: #7e9e09;

$btn_hover: #6c8a00;

$btn_hover: #6c8a00;

$table_head: #E7E7E7;


$blue: #39A0E2;

$table_color: #FFFAFA;