

//nuetral colors
$white: #fff;
$dark: #000;


// design colors
$header_light: #7FA302;
$header_dark : #6F8B0A;


// text color
$text_color: #252525;

// border color
$border_color: #b4b4b4;
$border_radius:#e0e0e09f;

// link colors
$link_color: #888888;

$black_color: #000000;
$text_color_1:#6f8b0a;
$text_color_2: #7fa302;
$green_light:#96af3da2;
$live: #3ab500;
$border_color_1:#b4b4b4;
$border_color_2:#b4b4b4;

$form_btn_color :#474747;
$form_btn_hover : #626262;
$green : #27AE60;
$mute: #959595;

$facebook_hover:#2652b1ec;
$facebook:#3b5998;
$goolge:#e0e0e0;


//input colors

//button colors

$btn_dark: #7FA302;
$btn_light: #7e9e09;
$btn_hover: #6c8a00;















