.showcase_wrapper {
	position: relative;
	img {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 400px;
		object-fit: cover;
		background-attachment: fixed;
		background-position: center;
	}
	.showcase_test {
        position: absolute;
        top: 0;
	}
}
