// <!-- Showcase image section -->
.showcase_wrapper {
	position: relative;
	height:300px;
	font-family: 'Montserrat';

	img {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		object-fit: cover;
		background-attachment: fixed;
		background-position: center;
	}
	.showcase_test {
		position: absolute;
		top: 0;
		left: 0;
		padding: 40px 10px;
		color: #fff;
	

		@include tabletSize(900px) {
			padding: 40px 35px;
		}

		h1 {
			font-family: inherit;
			font-style: normal;
			font-weight: 500;
			font-size: 23px;
			line-height:1.2;
			color: #ffffff;
			@include tabletSize(900px) {
				font-size: 25px;
				line-height:1.5;
			}
		}
		.showacase_btn_flex {
			display: flex;
			margin-top: 20px;
			align-items: center;
			flex-wrap: wrap;

			button {
				background-color: #fff;
				margin-right: 10px;
				font-weight: 500;
				font-size: 14px;
				color: $black_color;
				font-family: inherit;

			}
			p {
				padding: 10px;

				@include tabletSize(900px) {
					padding: 0px;
				}
			}
		}
	}
}
