// <!-- Showcase image section -->
.showcase_wrapper {
	position: relative;
	height:260px;

	img {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		object-fit: cover;
		background-attachment: fixed;
		background-position: center;
	}
	.showcase_test {
		position: absolute;
		top: 0;
		left: 0;
		padding: 40px 10px;
		color: #fff;
		font-family: Montserrat;

		@include tabletSize(900px) {
			padding: 40px 45px;
		}

		h1 {
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			color: #ffffff;
			
			@include tabletSize(900px) {
				font-size: 35px;
				line-height: 43px;
			}
		}
		.showacase_btn_flex {
			display: flex;
			margin-top: 20px;
			align-items: center;
			flex-wrap: wrap;

			button {
				background-color: #fff;
				margin-right: 10px;
				font-weight: 500;
				font-size: 18px;
				color: $black_color;
			}
			p {
				padding: 10px;

				@include tabletSize(900px) {
					padding: 0px;
				}
			}
		}
	}
}
