// ALL MIXINS

@mixin border_line {
    border: 1px solid $border_color;
}


@mixin align_items {
    display: flex;
    align-items: center;
}


@mixin transition {
    transition:all 0.5s ease-in-out;
}

@mixin flex($btw) {
    display: flex;
    align-items: center;
    justify-content: ($btw);
}

@mixin fontWight($value, $size) {
    font-weight: $value;
    font-family: inherit;
    font-style: normal;
    font-size: $size;
}

@mixin grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}