.ScoreMobi_main_wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
	padding:10px;
	width: 100%;
	margin: 0 auto;
	grid-template-areas: "main main main main"
	"asideLeft asideLeft asideLeft asideLeft"
	"asideRight asideRight asideRight asideRight";

	@include tabletSize(600px) {
		width: 95%;
		padding: 20px 0px;
	}
	
	@include tabletSize(850px) {
		display: grid;
		grid-template-areas:
			"main main main main main main main"
			"asideLeft asideLeft asideRight asideRight";
	}

	@include desktopSize(1000px){
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: "asideLeft main main asideRight";
		max-width: 1350px;
		margin: 0 auto;
		grid-gap: 20px;

		#main img {
			border-radius: 12px;
		}

		.news_article {
			p {
				line-height: 2;
			}
		}
	}

	#aside_left {
		grid-area: asideLeft;
		height: auto;
		// overflow:scroll;
	}

	#main {
		grid-area: main;
		// width:100%;
		height: auto;
	}

	#aside_right {
		height: auto;
		grid-area: asideRight;
		overflow: hidden;
	}
}


