.ScoreMobi_main_prediction {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:15px;
	padding:20px 10px;
	;
	
	@include tabletSize(850px) {
		padding:20px 35px;
	}
	grid-template-areas:      
	"main main main main"
	"asideLeft asideLeft asideLeft asideLeft"
	"asideRight asideRight asideRight asideRight";
	 

	@include tabletSize(850px) {
        grid-template-areas: 
        "main main main main"
        "asideLeft asideLeft asideRight asideRight";
	}
	@include desktopSize(1100px) {
		grid-template-columns: repeat(9, 1fr);
		grid-template-areas: "asideLeft asideLeft main main main main  main asideRight asideRight";
	}

	#aside_left {
		grid-area: asideLeft;
		height: auto;
	}
	#main {
		grid-area: main;
		height: auto;

	}
	#aside_right {
		height:auto;
		grid-area: asideRight;
	}
}
