// =================================ScoreMobi Form wrapper================================================================
.ScoreMobi_form {
    @include fontWight(normal,  inherit);
    @include border_line;
    width: 100%;
    padding: 10px 10px;

    h1 {
        @include fontWight(600,  1.3rem);
        line-height: 34px;
        color: $text_color_1;
    }

    p {
        font-size: 0.8rem;
    }
    
    // =================================ScoreMobi Form ================================================================
    form {
        .ScoreMobi_input_wrapper {
            background:$form_bg_color;
            border: none;
    
            &.input_space {
                margin-top: 10px;
            }
    
            :focus {
                box-shadow: 0px 0px 1px 1.5px $form_btn_color;
            }
    
            span,
            i.fa {
                color: $mute;
                padding-left: 5px;
                padding-right: 0px;
                font-size: 1rem;
                margin-right: 4px;
            }
    
            input {
                background: transparent;
                color:$black_color;
                width: 100%;
                padding: 10px 5px;
    
                ::placeholder {
                    @include fontWight(normal,  inherit);
                    padding: 0;
                }
    
                &:focus {
                    border: none;
                }
            }
        }
    
        // ============================== ScoreMobi form button wrapper====================================================================
    
        // ScoreMobi_form_button 
        .ScoreMobi_form_button {
            @include flex(space-between);
            margin: 20px 0 5px 0;
    
            button {
                background-color: $form_btn_color;
                color: $white_color;
                border-radius: 4px;
                padding: 6px 20px;
                @include fontWight(normal, .8rem);
                @include transition;
    
                &:hover {
                    background-color: $form_btn_hover;
                }
            }
        }
    }
}

// ==================================Form Or===============================================================

.or {
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    &:after,
    &:before {
        content: '';
        position: absolute;
        display: block;
        border-bottom: 1px solid $border_color_1;
        width: 43%;
        right: 0;
        top: 50%;
    }

    &:before {
        left: 0;
    }
}

// ========================================ScoreMobi signup via social media=========================================================
.ScoreMobi_signup_via_social_media {
    @include grid_Auto_fit(100px);
    grid-gap: 10px;

    p {
        font-size: inherit;
    }

    

// ======================================ScoreMobi sign up with facebook button =========================================================== 
    .facebook,
    .google {
        background-color: $facebook;
        @include flex(center);
        @include transition;
        @include fontWight(normal, inherit);
        @include transition;
        padding: 7px 0;
        outline: none;
        font-family: unset;
        border: none;
        border-radius: 3px;
        color: $white_color;
        cursor: pointer;

        i {
            font-size: 20px;
            padding-right: 10px;
        }

        &:hover {
            background-color: $facebook_hover;
        }

        &:focus {
            box-shadow: 0px 0px 0px 2px $facebook_hover;
        }
    }

    // ===============================ScoreMobi sign up with goole button  ===========================================================

    .google {
        background-color: $goolge;
        padding: 0;
        color: $google_text_color;

        &:hover {
            background-color: $google_hover;
        }

        &:focus {
            box-shadow: 0px 0px 0px 2px $google_hover;
        }

        img {
            width: 30px;
            padding-right: 10px;
            height: 20px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

}

// ==================================== premier legue wrapper=============================================================
section .premier_legue_wrapper {
    height: 290px;
    border: 1px solid $premier_league_border;
    margin-top: 10px;
    width: 100%;


//====================================premier league slide Container=============================================================
    .carousel_track-container {
        height: 100%;
    }

    .premier_league_title {
        border-bottom: 1px solid $premier_league_title;
        text-align: center;
        @include fontWight(normal, 17px);
        padding: 5px 0;
        color: $black_color;

    }

    .carousel_slide {
        &:after {
            all: unset !important;
        }
    }

    .premier_league_table {
        text-align: center;
        border-collapse: collapse;
        width: 100%;
    }


    // =================================premier league table header================================================================
    .premier_league_table_header {
        flex-direction: row;
        @include flex(flex-end);
        padding: 2px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        gap: 5px;
        margin: 15px 0;

        p {
            @include fontWight(normal, inherit);
            line-height: 17px;
            color: $black_color;
        }
    }
// =================================================================================================

    .p_league_align {
        justify-content: flex-start;

        .premier_league_text_order {
            order: 1;
        }
    }

    th img {
        width: 30px;
        height: 30px;
    }

    .who p,
    .win p,
    .will p {
        @include fontWight(normal, 16px);
        color: $black_color;
        margin-bottom: 15px;
    }

    .who {
        text-align: end;
    }

    .win {
        text-align: start;
        border: none;
    }

    // ==========================================premier league table body=======================================================
    .premier_league_table_body {
        text-align: center;

        img {
            width: 40px;
            height: 40px;
        }

        .premier_league_club {
            @include flex(space-between);
            flex-direction: column;
            height: 70px;


            .drawn {
                @include fontWight(500, 18px);
                color: $black_color;
                padding-top: 15px;
            }

        }

        .premier_league_odd {
            background: $premier_league_odd;
            padding: 2px 10px;
            display: flex;
            position: relative;
            font-size: inherit;

            i {
                color: $red;
                padding-right: 5px;

                &.fa-sort-up {
                    position: relative;
                    top: 20%;
                    color: $green;
                }
            }

        }
    }
  
    // ======================Premier leauge slide  Button wrapper====================================================================

    .premier_league_buttons_wrapper {
        background-color: $header_light;
        @include flex(space-evenly);
        width: 100%;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
    }


      // ====================================Premier leauge slide  indicatos =============================================================

      .carousel_premier_league_nav {
        background-color: $header_light;
        justify-content: unset;
        gap: 10px;
        position: unset;
        left: 0;
        
        button {
            border-radius: 50%;
            border: 2px solid $white_color;
            background-color: $header_light;
            margin: 0;
            cursor: pointer;

            &.current_slide {
                background-color: $black_color;
            }
        }
    }


        .carousel_btn {
            border: unset;
            align-items: center;
            gap: 5px;
            border-radius: 50%;
            height: unset;
            width: unset;
            padding: 0px;
            cursor: pointer;

            p {
                line-height: 100%;
            }

            i {
                font-size: 17px;
            }
        }
    


}
// ======================== ScoreMobi Features Match Container ============================================================

.featured_matches_wrapper{
    @include grid_Auto_fit(230px);
    grid-gap: 20px; 
 
}

.ScoreMobi_Featured_matches {
    margin-top: 20px;

    h1 {
        @include fontWight(normal, 16px);
        line-height: 20px;
        padding: 13px 0;
        color: $header_light;

    }

    // ScoreMobi Featured Box
    .featured_matches {
        @include flex(center);
        border: 1px solid $border_color;
        margin-bottom: 4px;
        padding: 4px;

        h2 {
            @include fontWight(normal, 16px);
            color: $black_color;
            padding: 0;
            margin: 0;
        }

        p {
            @include fontWight(normal, 13px);
            padding: 0;
            margin: 0;
            color: $link_color;
        }

        img {
            width: 30px;
            height: 30px;
            margin-right: 7px;
        }
    }
// ========================  ScoreMobi Featured Matches Table ===============================================
    .ScoreMobi_featured_matches_table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;

        tbody::before {
            height: 4px;
            display: table-row;
            content: "";
        }

        p {
            color: $black_color;
            @include fontWight(normal, inherit);
        }

        .ScoreMobi_featured_matches {
            border: 1px solid $border_color;
            box-sizing: border-box;


            .ScoreMobi_feature_matches_wrapper {
                @include flex(flex-end);
                padding: 8px 3px;

                img {
                    width: 30px;
                    height: 30px;
                    margin: 0 2px;
                }
            }

            td:first-child {

                p {
                    text-align: start;
                    width: 100%;
                    padding-left: 10px;

                }
            }

            td:last-child {

                .ScoreMobi_feature_matches_wrapper {
                    justify-content: flex-start;
                }
            }
        }
    }
}

// =================================================================================================