.ScoreMobi_form {
    border: 1px solid #b1b2b6;
    font-family: 'Montserrat';
    font-style: normal;
    @include border_line;
    width: 100%;
    padding: 10px 10px;

    h1 {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 34px;
        color: $text_color_1;
    }

    p {
        font-size: 0.8rem;
    }

    //   ScoreMobi Form
    form {
        .top_space {
            margin-top: 10px;
        }

        .ScoreMobi_input_wrapper {
            background: #ddd;
            border: none;

            :focus {
                box-shadow: 0px 0px 1px 1.5px $form_btn_color;
            }

            span,
            i {
                color: #959595;
                padding-left: 5px;
                padding-right: 0px;
                font-size: 1rem;
                margin-right: 4px;
            }

            input {
                background: transparent;
                color: #000;
                width: 100%;
                padding: 10px 5px;

                ::placeholder {
                    font-family: inherit;
                    font-weight: normal;
                    font-size: inherit;
                    padding: 0;
                }

                &:focus {
                    border: none;
                }
            }
        }

        // ScoreMobi_form_button 
        .ScoreMobi_form_button {
            display: flex;
            justify-content: space-between;
            margin: 20px 0 5px 0;


            button {
                background-color: $form_btn_color;
                color: #fff;
                border-radius: 4px;
                padding: 6px 20px;
                font-size: inherit;
                padding: 8px 20px;
                font-weight: 500;
                transition: 350ms ease-in-out;
                font-size: .8rem;

                &:hover {
                    background-color: $form_btn_hover;
                }


            }
        }
    }

    //ScoreMobi Form Optional signing up form_or
    .form_or {
        text-align: center;
        position: relative;
        margin-bottom: 20px;

        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            border-bottom: 1px solid #b4b4b4;
            width: 43%;
            right: 0;
            top: 50%;
          
        }

        &:before {
            left: 0;
        }
    }

    .ScoreMobi_signup_via_social_media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;

        p {
            font-size: inherit;
        }
            button {
                font-family: inherit;
                font-size: 15px;
                padding: 10px 0;
                cursor: pointer;
                transition: 0.2s ease-in-out;
            }

            .facebook,
            .google {
                background-color: #3b5998;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px 0;
                outline: none;
                font-size: unset;
                font-family: unset;
                border: none;
                border-radius: 3px;
                color: #fff;


                i {
                    font-size: 20px;
                    padding-right: 10px;
                }

                &:hover {
                    background-color: #2652b1ec;
                }

                &:focus {
                    box-shadow: 0px 0px 0px 2px #2652b1ec;
                }
            }

            .google {
                background-color: #e0e0e0;
                color: #fff;
                justify-content: center;
                padding: 0;
                transition: box-shadow 0.2s ease-in-out;
                outline: none;
                border: none;
                border-radius: 3px;
                color: rgb(122, 122, 122);
               

                &:hover {
                    background-color: #e0e0e091;
                }

                &:focus {
                    box-shadow: 0px 0px 0px 2px #e0e0e09f;
                }

                img {
                    width: 30px;
                    padding-right: 10px;
                    height: 20px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        
    }
}

// premier_legue_wrapper
.premier_legue_wrapper{
    height: 50px!important;
    background-color:red!important;


    .carousel_slide{
        .primier_legue_table{
            // height:100px!important;
         
        }
        &:after{
            all:unset!important;
        }
    }
}

    // ScoreMobi Features Match Container
    .ScoreMobi_Featured_matches {
        margin-top: 20px;

        h1 {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            padding: 13px 0;
            color: $header_light;

        }

        // ScoreMobi Featured Box
        .featured_matches {
            display: flex;
            align-items: center;
            border: 1px solid $border_color;
            margin-bottom: 4px;
            padding: 4px;

            h2 {
                font-weight: normal;
                font-size: 16px;
                font-size: 1rem;
                color: #000000;
                padding: 0;
                margin: 0;
            }

            p {
                font-weight: normal;
                font-size: 13px;
                font-size: 0.8rem;
                padding: 0;
                margin: 0;
                color: #888888;
            }

            img {
                width: 35px;
                height: 35px;
                margin-right: 7px;
            }
        }


        // ScoreMobi Featured Matches   Table

        .ScoreMobi_featured_matches_table {
            width: 100%;
            text-align: center;
            border-collapse: collapse;

            tbody::before {
                height: 4px;
                display: table-row;
                content: "";
            }

            p {
                font-size: inherit;
                color: #000000;
                font-family: inherit;
                font-weight: normal;
            }

            .ScoreMobi_featured_matches {
                border: 1px solid $border_color;
                box-sizing: border-box;


                .ScoreMobi_feature_matches_wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 8px 3px;

                    img {
                        width: 30px;
                        height: 30px;
                        margin: 0 2px;
                        width: 28px;
                        height: 28px;
                        margin: 0 4px;
                    }
                }

                td:first-child {

                    p {
                        text-align: start;
                        width: 100%;
                        padding-left: 10px;

                    }
                }

                td:last-child {

                    .ScoreMobi_feature_matches_wrapper {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }