// =================================ScoreMobi Form wrapper================================================================
.ScoreMobi_form {
    border: 1px solid #b1b2b6;
    font-family: inherit;
    font-style: normal;
    @include border_line;
    width: 100%;
    padding: 10px 10px;

    h1 {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 34px;
        color: $text_color_1;
    }

    p {
        font-size: 0.8rem;
    }
}

// =================================ScoreMobi Form ================================================================
form {
    .ScoreMobi_input_wrapper {
        background: #ddd;
        border: none;

        &.input_space {
            margin-top: 10px;
        }

        :focus {
            box-shadow: 0px 0px 1px 1.5px $form_btn_color;
        }

        span,
        i.fa {
            color: #959595;
            padding-left: 5px;
            padding-right: 0px;
            font-size: 1rem;
            margin-right: 4px;
        }

        input {
            background: transparent;
            color: #000;
            width: 100%;
            padding: 10px 5px;

            ::placeholder {
                font-family: inherit;
                font-weight: normal;
                font-size: inherit;
                padding: 0;
            }

            &:focus {
                border: none;
            }
        }
    }

    // ============================== ScoreMobi form button wrapper====================================================================

    // ScoreMobi_form_button 
    .ScoreMobi_form_button {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 5px 0;

        button {
            background-color: $form_btn_color;
            color: #fff;
            border-radius: 4px;
            padding: 6px 20px;
            font-size: inherit;
            padding: 8px 20px;
            font-weight: 500;
            transition: 350ms ease-in-out;
            font-size: .8rem;

            &:hover {
                background-color: $form_btn_hover;
            }
        }
    }
}

// ==================================Form Or===============================================================

.or {
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    &:after,
    &:before {
        content: '';
        position: absolute;
        display: block;
        border-bottom: 1px solid #b4b4b4;
        width: 43%;
        right: 0;
        top: 50%;
    }

    &:before {
        left: 0;
    }
}

// ========================================ScoreMobi signup via social media=========================================================
.ScoreMobi_signup_via_social_media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;

    p {
        font-size: inherit;
    }

    

// ======================================ScoreMobi sign up with facebook button =========================================================== 
    .facebook,
    .google {
        background-color: $facebook;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 0;
        outline: none;
        font-size: unset;
        font-family: unset;
        border: none;
        border-radius: 3px;
        color: #fff;
        transition: box-shadow 0.2s ease-in-out;
        font-family: inherit;
        font-size: 15px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        i {
            font-size: 20px;
            padding-right: 10px;
        }

        &:hover {
            background-color: $facebook_hover;
        }

        &:focus {
            box-shadow: 0px 0px 0px 2px $facebook_hover;
        }
    }

    // ===============================ScoreMobi sign up with goole button  ===========================================================

    .google {
        background-color: $goolge;
        padding: 0;
        color: rgb(122, 122, 122);

        &:hover {
            background-color: $google_hover;
        }

        &:focus {
            box-shadow: 0px 0px 0px 2px $google_hover;
        }

        img {
            width: 30px;
            padding-right: 10px;
            height: 20px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

}

// ==================================== premier legue wrapper=============================================================
section .premier_legue_wrapper {
    height: 290px;
    border: 1px solid #b1b2b6;
    margin-top: 10px;
    width: 100%;


//====================================premier league slide Container=============================================================
    .carousel_track-container {
        height: 100%;
    }

    .premier_league_title {
        border-bottom: 1px solid #C8C8C8;
        text-align: center;
        font-weight: normal;
        font-size: 17px;
        padding: 5px 0;
        color: #000000;

    }

    .carousel_slide {
        &:after {
            all: unset !important;
        }
    }

    .premier_league_table {
        text-align: center;
        border-collapse: collapse;
        width: 100%;
    }


    // =================================premier league table header================================================================
    .premier_league_table_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 2px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        gap: 5px;
        margin: 15px 0;

        p {
            font-style: normal;
            font-weight: normal;
            line-height: 17px;
            color: #000000;
            font-size: inherit;
        }
    }
// =================================================================================================

    .p_league_align {
        justify-content: flex-start;

        .premier_league_text_order {
            order: 1;
        }
    }

    th img {
        width: 30px;
        height: 30px;
    }

    .who p,
    .win p,
    .will p {
        font-weight: normal;
        font-size: 16px;
        color: #000000;
        margin-bottom: 15px;
    }

    .who {
        text-align: end;
    }

    .win {
        text-align: start;
        border: none;;
    }

    // ==========================================premier league table body=======================================================
    .premier_league_table_body {
        text-align: center;

        img {
            width: 40px;
            height: 40px;
        }

        .premier_league_club {
            text-align: center;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            height: 70px;


            .drawn {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                color: #000000;
                padding-top: 15px;
            }

        }

        .premier_league_odd {
            background: #C4C4C4;
            padding: 2px 10px;
            display: flex;
            position: relative;
            font-size: inherit;

            i {
                color: red;
                padding-right: 5px;

                &.fa-sort-up {
                    position: relative;
                    top: 20%;
                    color: green;
                }
            }

        }
    }
  
    // ======================Premier leauge slide  Button wrapper====================================================================

    .premier_league_buttons_wrapper {
        background-color: $header_light;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
    }


      // ====================================Premier leauge slide  indicatos =============================================================

      .carousel_premier_league_nav {
        background-color: $header_light !important;
        justify-content: unset;
        gap: 10px;
        position: unset;
        left: 0;

        button {
            border-radius: 50%;
            border: 2px solid #fff;
            background-color: $header_light;
            margin: 0;

            &.current_slide {
                background-color: #000000;
            }
        }
    }


        .carousel_btn {
            border: unset;
            align-items: center;
            gap: 5px;
            border-radius: 50%;
            height: unset;
            width: unset;
            padding: 0px;

            p {
                line-height: 100%;
            }

            i {
                font-size: 17px;
                font-weight: bolder;
            }
        }
    


}
// ======================== ScoreMobi Features Match Container ============================================================

.ScoreMobi_Featured_matches {
    margin-top: 20px;

    h1 {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding: 13px 0;
        color: $header_light;

    }

    // ScoreMobi Featured Box
    .featured_matches {
        display: flex;
        align-items: center;
        border: 1px solid $border_color;
        margin-bottom: 4px;
        padding: 4px;

        h2 {
            font-weight: normal;
            font-size: 16px;
            font-size: 1rem;
            color: #000000;
            padding: 0;
            margin: 0;
        }

        p {
            font-weight: normal;
            font-size: 13px;
            font-size: 0.8rem;
            padding: 0;
            margin: 0;
            color: #888888;
        }

        img {
            width: 35px;
            height: 35px;
            margin-right: 7px;
        }
    }
// ========================  ScoreMobi Featured Matches Table ===============================================
    .ScoreMobi_featured_matches_table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;

        tbody::before {
            height: 4px;
            display: table-row;
            content: "";
        }

        p {
            font-size: inherit;
            color: #000000;
            font-family: inherit;
            font-weight: normal;
        }

        .ScoreMobi_featured_matches {
            border: 1px solid $border_color;
            box-sizing: border-box;


            .ScoreMobi_feature_matches_wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 8px 3px;

                img {
                    width: 30px;
                    height: 30px;
                    margin: 0 2px;
                }
            }

            td:first-child {

                p {
                    text-align: start;
                    width: 100%;
                    padding-left: 10px;

                }
            }

            td:last-child {

                .ScoreMobi_feature_matches_wrapper {
                    justify-content: flex-start;
                }
            }
        }
    }
}

// =================================================================================================